logs
*.log*
node_modules
dist
temp
lib
dist-ssr
*.local

**/test.*
**/tests.*
**/test-*
**/tests-*
**/test

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?